*{
    margin: 0;
    padding: 0;
}
h1 {
    color: red;
}
nav{
    background-color: seagreen;
}
button{
    font-size: 20px;
    border-radius: 5px;
    background-color: blueviolet;
}

.nav-menu li {
    display: inline-block;
}

.nav-menu{
    color: rgb(94, 6, 67);
}

header{
    background-color: midnightblue;
}

header h2{
    color: olive;
    font-size: 60px;
    text-align: center;
    padding: 190px 0;
}

h3{
    padding: 20px;
    text-align: center;
    text-transform: uppercase;
}
.galery{
    margin-top: 20px;
    margin-bottom: 20px;

}

.image-block img {
    width: 150px;
    height: 150px;

}

.image-block {
    display: flex;
    justify-content: space-around;
}
.galery-image {
    display: flex;
    justify-content: center;

}


footer {
    text-transform: uppercase;
    position: fixed; /* Фиксированное положение */
    left: 50%; bottom: 0; /* Левый нижний угол */
    color:black; /* Цвет текста */
    width: 100%; /* Ширина слоя */
   }